<main>

    <section class="login">
        <form action="/login" method="post">
            <div>
                <label for="email">Email: </label>
                <input type="email" name="emai" id="email">
            </div>
            <div>
                <label for="password">Senha: </label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit">Cadastrar</button>
        </form>
    </section>

</main>